{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block title %} {{title}} {% endblock %}

{% block container %}
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <h1>Cosechas - JCM</h1>
    
    <div class="form-control">
        <div class="row">
            <div class="col-6">
                {{render_field(jcm.encargado, class="form-control", placeholder="Seleccione la Parcela")}}
            </div>
            <div class="col-3">
                {{render_field(jcm.n_cosecha, class="form-control", placeholder="Ingrese el numero")}}
            </div>
            <div class="col-3">
                {{render_field(jcm.bolsas, class="form-control", placeholder="Ingrese la cantidad")}}
            </div>
        </div>
    </div>
    <div class="form-control mt-2">
        
        <div class="row">
            <div class="col-4">
                {{render_field(jcm.puesto_1, class="form-control", placeholder="Ingrese valor")}}
            </div>
            <div class="col-4">
                {{render_field(jcm.puesto_2, class="form-control", placeholder="Ingrese valor")}}
            </div>
            <div class="col-4">
                {{render_field(jcm.puesto_3, class="form-control", placeholder="ingresa valor")}}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{render_field(jcm.puesto_4, class="form-control", placeholder="Ingrese valor")}}
            </div>
            <div class="col-4">
                {{render_field(jcm.puesto_5, class="form-control", placeholder="Ingrese valor")}}
            </div>
            <div class="col-4">
                {{render_field(jcm.puesto_6, class="form-control", placeholder="ingresa valor")}}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{render_field(jcm.puesto_7, class="form-control", placeholder="Ingrese valor")}}
            </div>
            <div class="col-4">
                {{render_field(jcm.puesto_8, class="form-control", placeholder="Ingrese valor")}}
            </div>
            <div class="col-4">
                Total Racimos
                <div class="form control" >
                    = {{total}}
            </div>
            </div>
            
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a href="#" class="btn btn-danger">Cancelar</a>
</form>
{% endblock %}