{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block title %} {{title}} {% endblock %}

{% block container %}

<form method="POST">

    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <h1>Empleados</h1>
    
    <div class="form-control">
        <div class="row">
            <div class="col-6">
                
                {{render_field(form.nombres, class="form-control", placeholder="Ingrese sus nombres")}}
                {{render_field(form.apellidos, class="form-control", placeholder="Ingrese sus apellidos")}}
            
            </div>
            <div class="col 6">
                
                {{render_field(form.dni, class="form-control", placeholder="Ingrese su DNI")}}
                {{render_field(form.telefono, class="form-control", placeholder="Ingrese su telefono")}}
                
            </div>
        </div>
    </div>
  
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a href="#" class="btn btn-danger">Cancelar</a>
</form>

{% endblock %}