{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block container %}

<h2 class="text-center">Lista de Encargados</h2>

<div class="mb-2">
    <a href="{{url_for('admin.encargado_form')}}" class="btn btn-primary" >Agregar Encargado</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">nombres completo</th>
            <th scope="col">telefono</th>
            <th scope="col">correo</th>
            <th scope="col"></th>
        </tr>
    </thead>
    
    <tbody>
        {% for encargado in encargados %}
        <tr>
            <td scope="row">{{encargado.id}}</td>
            <td>{{encargado.n_nombres}} {{encargado.n_apellidos}}</td>
            <td>{{encargado.telefono}}</td>
            <td>{{encargado.correo}}</td>
            <td>


                <a href="{{url_for('admin.encargado_edit', id=encargado.id)}}" class="btn btn-success">Modificar</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                      Eliminar
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Atencíon!!!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>Al Eliminar un Encargado, se eliminará todos sus parcelas asignadas, se debe hacer mejoras al modal</p>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                              <a href="{{url_for('admin.encargado_delete', id=encargado.id)}}" class="btn btn-danger">Eliminar</a>
                          </div>
                        </div>
                      </div>
                    </div>


<!--                <a href="{{url_for('admin.encargado_delete', id=encargado.id)}}" class="btn btn-danger">Eliminar</a>-->
            </td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>

{% endblock%}
