{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block title %} {{title}} {% endblock %}

{% block container %}
<h1>Lista de Parcelas</h1>


<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Direccion</th>
        <th scope="col">Área</th>
        <th scope="col">Total Puestos</th>
        <th scope="col">Encargado</th>
      </tr>
    </thead>
    <tbody>
      {% for parcela in parcelas %}
      <tr>
        <td scope="row">{{parcela.id}}</td>
        <td>{{parcela.nombre}}</td>
        <td>{{parcela.direccion}}</td>
        <td>{{parcela.area}}</td>
        <td>{{parcela.n_puestos}}</td>
        <td>{{parcela.encargado_id}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<div class="form control">
    <a href="{{url_for('admin.parcela_form')}}" class="btn btn-primary" >Agregar Parcela</a>
</div>
{% endblock %}