{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block title %} {{title}} {% endblock %}

{% block container %}
<div class="text-center">
  <h1>Lista de Parcelas</h1>

</div>

<div class="form control mb-2">
    <a href="{{url_for('admin.parcela_form')}}" class="btn btn-info" >
      
      <img src="{{url_for('static', filename='images/parcela.png')}}" height="33" alt="" >
      Nueva Parcela
    </a>
</div>

<table class="table table-hover table-dark text-center">
    <thead>
      <tr>
<!--        <th scope="col">ID</th>-->
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Área (Ha)</th>
        <th scope="col">Total Puestos</th>
        <th scope="col">Encargado</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for pe in parcela_encargado %}
      <tr>
<!--        <td scope="row">{{pe[0].id}}</td>-->
        <td>{{pe[0].nombre}}</td>
        <td>{{pe[0].direccion}}</td>
        <td>{{pe[0].area}}</td>
        <td>{{pe[0].n_puestos}}</td>
        <td>{{pe[1]}}</td>
        <td>
          <a href="{{url_for('admin.parcela_edit', parcela_id=pe[0].id)}}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Editar">
            <img src="{{url_for('static', filename='images/editar.png')}}" height="22" alt="" >
          </a>
          
          <a href="{{url_for('admin.parcela_delete', parcela_id=pe[0].id)}}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar">
            <img src="{{url_for('static', filename='images/borrar.png')}}" height="22" alt="" >
          </a>
      </td>
      </tr>
      {% endfor %}
    </tbody>
</table>


{% endblock %}