{% extends 'layout.html' %}

{% from 'helpers/_forms.html' import render_field %}

{% block title %} {{title}} {% endblock %}

{% block container %}

<form method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

    <div class="text-center mt-5">
        <h2>Parcela</h2>
    </div>
    

    <div class="from-control">
        <div class="row">
            <div class="col-6">
                {{render_field(parcelas.nombre, class="form-control", placeholder="Ingrese Nombre")}}
                {{render_field(parcelas.direccion, class="form-control", placeholder="Ingrese una dirección")}}

            </div>
            <div class="col-6">
                {{render_field(parcelas.area, class="form-control", placeholder="ejemplo: 10.50")}}
                {{render_field(parcelas.n_puestos, class="form-control")}}

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{render_field(form.encargado, class="form-control")}}
                
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <button type="submit" class="btn btn-primary m-1">Crear</button>
        <a href="{{url_for('admin.parcelas')}}" class="btn btn-danger m-1">Cancelar</a>
    </div>

</form>
{% endblock %}