{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block title %} {{title}} {% endblock %}

{% block container %}
<div class="text-center">
  <h1>Lista de Parcelas</h1>

</div>

<div class="form control mb-2">
    <a href="{{url_for('admin.parcela_form')}}" class="btn btn-primary" >Agregar Parcela</a>
</div>

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Direccion</th>
        <th scope="col">Área</th>
        <th scope="col">Total Puestos</th>
        <th scope="col">Encargado</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for parcela in parcelas %}
      <tr>
        <td scope="row">{{parcela.id}}</td>
        <td>{{parcela.nombre}}</td>
        <td>{{parcela.direccion}}</td>
        <td>{{parcela.area}}</td>
        <td>{{parcela.n_puestos}}</td>
        <td>{{parcela.encargado_id}}</td>
        <td>
          <a href="{{url_for('admin.parcela_edit', parcela_id=parcela.id)}}" class="btn btn-success">Editar</a>
          <a href="#" class="btn btn-danger">Eliminar</a>
      </td>
      </tr>
      {% endfor %}
    </tbody>
</table>


{% endblock %}