{% extends 'bootstrap/base.html' %}

{% block title %} {{title}} {% endblock %}


{% block navbar%}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c7eaff;">
    <a class="navbar-brand" href="#">
        <!-- <img src="{{url_for('static', filename='images/palm-oil-pedrito.png')}}" alt="" width="30" height="30">  -->
        Fundo Pedrito
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('admin.dashboard')}}">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('admin.parcelas')}}">Parcelas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Mis Parcelas
          </a>
          <div class="dropdown-menu">
            <!-- <a class="dropdown-item" href="#">Cosechas</a>
            <a class="dropdown-item" href="#">Parcelas</a> -->
            <a class="dropdown-item" href="{{url_for('admin.parcelas')}}">Lista de parcelas</a>
            <a class="dropdown-item" href="#">Buenos aires</a>
            <a class="dropdown-item" href="#">KM6</a>
            <a class="dropdown-item" href="#">GAvilan</a>
            <a class="dropdown-item" href="#">Culebra</a>
           
           <!--  <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('admin.encargado')}}">Encargado</a> -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('admin.encargado')}}">Encargados</a>
        </li>
      </ul>
     
    </div>
  </nav>
{% endblock %}

{% block content %} 

<div class="container">
    <div class="row">

      <div class="col-md-12 mt-2">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success" role="alert">
                {{message}}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <!-- <div class="col-md-12 col-md-offset-1">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messagess %}
            <div class="alert alert-success" role="alert">
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
        {%endwith %}
      </div> -->
        <div class="col-md-12">
            {% block container %} {% endblock %}
        </div>
    </div>
</div>
{% endblock %}